@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;    
    font-family: 'Poppins', sans-serif;
}

body {
    background: rgb(98, 0, 234);
}

.search {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background: #000;
    padding: 30px;
    border-radius: 65px;
    border: none;
    display: flex;
    align-items: center;
}

.search button {
    width: 60px;
    height: 60px; 
}

::placeholder {
    /* visibility: hidden; */
    opacity: 0; 
}

.submit {
    font-size: 40px;
    cursor: pointer;
    color: #fff;
    background: none;
    border: none;
    text-align: center;
}

.search-txt {
    width: 0px;
    font-size: 36px;
    border: none;
    background: transparent;
    outline: none;
    transition: 1s;
}

.active ::placeholder {
    color: rgba(0, 0, 0, 0.252);
    /* visibility: visible; */
    opacity: 1;
    transition: 2s;
}

.active {
    background: white;
}

.active .submit {
    color: #000;
    float: right;
}

.active .search-txt {
    width: 350px;
    padding: 0 20px;
}